{
    margin: 0;
    padding: 0;
}
.dong2{
    display: flex;
    justify-content: space-between;
 }
 .dong2 .dong2.1{
    display: flex;
    gap: 20px:
 }
 .dong2 .dong2.2{
    display: flex;
    gap: 20px;
 }